{% extends 'base.html' %}
{% block title %}Pet Listings{% endblock %}
{% block content %}

<div class="row">
  <h1 class="display-1 text-center">Pet Listings</h1>

    {% for pet in pets%}
    <div class="col-mb-3">
      <img class="img-thumbnail" src="{{pet.photo_url}}" alt="{{pet.species}}">
      <a href="{{url_for('edit_pet', pet_id=pet.id)}}">{{pet.name}}</a>
        {% if pet.available %}
          <b>is available</b>
        {% endif %}
      {% else %}
        <div class="col-12">No pets available.</div>
      {% endfor %}
      </div>

    <a href="{{url_for('add_pet')}}" class="btn btn-success btn-lg mt-3">Add Pet</a>

</div>

{% endblock %}